--- Python ---

pycache/
*.py[cod]
*$py.class
.venv/
venv/
env/

--- IDEs ---

.idea/
.vscode/
*.swp

--- Docker & Redis ---

dump.rdb
appendonly.aof

--- Project Specific ---

ما نمی‌خواهیم تصاویر تولید شده را کامیت کنیم

media_storage/

اما خودِ پوشه را (اگر خالی است) نگه می‌داریم (اختیاری)

!media_storage/.gitkeep

فایل‌های ساختاری داکر که نباید کامیت شوند (اگر وجود دارند)

.env