--- Python ---

pycache/
*.py[cod]
*$py.class
.venv/
venv/
env/

--- IDEs ---

.idea/
.vscode/
*.swp

--- Docker & Redis ---

dump.rdb
appendonly.aof

--- Project Specific ---


media_storage/

اما خودِ پوشه را (اگر خالی است) نگه می‌داریم (اختیاری)

!media_storage/.gitkeep


.env